# {{ ansible_managed }}

[Unit]
Description=Start openvpn client
Before=network-pre.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/sbin/openvpn --config /tmp/vpn-ratzek.ovpn

[Install]
WantedBy=basic.target
