# {{ ansible_managed }}

[Unit]
Description=Load tc rules
Before=network-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/access-point-tc-restore

[Install]
WantedBy=basic.target
