server {
  listen *:80;
  root /no_entry/;
  location /guides/pavlenko {
    alias /var/mirrors/youtube/pavlenko/;
    fancyindex on;
    fancyindex_exact_size off;
    fancyindex_name_length 200;
  }
}
